Django==4.2
django-taggit==3.1.0
django-environ==0.10.0
django-filter==23.1
django-extensions==3.2.1
django-coverage==1.2.4
djangorestframework==3.14.0
model_bakery
psycopg==3.1.8
click
jinja2
pydantic
ase
monty
pymatgen
mp_api
mkite_core
mkite_engines
